<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>302510788231-na9f9am93qmh77njlp9ooo56vu77s2g4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.302510788231-na9f9am93qmh77njlp9ooo56vu77s2g4</string>
	<key>API_KEY</key>
	<string>AIzaSyB-tYrunyg-3prNhCgVUIhS9DJ8QxIae5Y</string>
	<key>GCM_SENDER_ID</key>
	<string>302510788231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.easyTask</string>
	<key>PROJECT_ID</key>
	<string>easy-task-9beec</string>
	<key>STORAGE_BUCKET</key>
	<string>easy-task-9beec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302510788231:ios:a4e7cbb67f0ba6afadb222</string>
</dict>
</plist>